@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.primary.800");
  border-radius: 20rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.primary.500");
  border-radius: 20rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.primary.400");
}

@layer utilities {
  .rtl {
    direction: rtl;
    @apply text-right;
  }

  .default-btn {
    @apply select-none flex flex-nowrap gap-1 items-center bg-primary-800 text-white border border-primary-600 py-2 px-4 rounded  hover:bg-primary-700  focus:ring-1 focus:ring-primary-600;
  }

  .confirmation-btn {
    @apply select-none flex flex-nowrap gap-1 items-center bg-accent-green-800 text-white border border-accent-green-600 py-2 px-4 rounded  hover:bg-accent-green-700  focus:ring-1 focus:ring-accent-green-600;
  }

  .reject-btn {
    @apply select-none flex flex-nowrap gap-1 items-center bg-accent-red-800 text-white border border-accent-red-600 py-2 px-4 rounded  hover:bg-accent-red-700  focus:ring-1 focus:ring-accent-red-600;
  }

  .conversation-btn {
    float: right;
    margin: 1rem;
    @apply select-none flex flex-nowrap gap-1 items-center bg-primary-800 text-white border border-primary-600 py-2 px-4 rounded  hover:bg-primary-700  focus:ring-1 focus:ring-primary-600;
  }

  .confirmation-btn:disabled,
  .reject-btn:disabled,
  .default-btn:disabled,
  .conversation-btn:disabled {
    @apply opacity-30 pointer-events-none;
  }

  .bottom-overlay-700 {
    position: relative;
    &::after {
      content: "";
      // background: linear-gradient(
      //   to top,
      //   #40414f 0%,
      //   rgba(#343541, 0.5) 85%,
      //   transparent 100%
      // );
      position: absolute;
      width: 100%;
      height: 2.5rem;
      bottom: 0;
      left: 0;
      @apply bg-gradient-to-t from-primary-700 to-primary-800/5;
    }
  }

  .bottom-overlay-800 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2.5rem;
      bottom: 0;
      left: 0;
      @apply bg-gradient-to-t from-primary-800 to-primary-700/5;
    }
  }

  .left-overlay-800 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 3rem;
      height: 100%;
      bottom: 0;
      left: calc(0% - 3rem);
      @apply bg-gradient-to-l from-primary-800 to-primary-700/5;
    }
  }

  .bottom-overlay-900 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2.5rem;
      bottom: 0;
      left: 0;
      @apply bg-gradient-to-t from-primary-900 to-primary-800/5;
    }
  }

  .gptp-dialog {
    @apply fixed z-50 w-screen h-screen rounded bg-transparent  grid place-items-center;

    .gptp-dialog-iframe {
      @apply h-80 w-4/5 max-w-xl rounded bg-transparent animate-fade-up animate-duration-500;
    }

    &:not(.gptp-dialog--show) {
      @apply invisible;
      .gptp-dialog-iframe {
        @apply hidden;
      }
    }

    &.gptp-dialog--show {
      @apply visible;
      .gptp-dialog-iframe {
        @apply block;
      }
    }

    &:before {
      content: "";
      @apply absolute inset-0 z-[-1] bg-primary-600/70;
    }
  }

  .gptp-dialog-container {
    @apply relative h-fit min-w-[30rem] min-h-[10rem] max-w-[90vw] rounded soverflow-hidden;

    .gptp-dialog-iframe {
      @apply absolute inset-0 top-0 right-0 left-0 bottom-0 w-full h-full rounded bg-transparent;
    }
  }
}
